@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
@media screen and (max-width: 520px) {

    /*quando for celular, devem ser escondidos esses itens*/
    a#O-Globo, a#Valor, a#Cartola, a#Globoplay, a#Dropz, a#quem, a#receitas, h1#titulo-manchete, section#manchete-principal > h3, div#container-politica, div#economia, div#manchetes-futebol, div#container-tv{
        display: none;
    }
    /*quando for celular, devem ser exibidos esses itens*/
    section#manchete-simples, section#manchetes-futebol-mobile{
        display: block;
    }
    main{
        font-family: Open sans;
        max-width: 380px;
    }
    img#imagem-titulo{
        margin-top: 40px;
        width: 250px;
    }
    body{
        margin: 0px
    }
    hr#linha-topo, hr.linha-mob{
        margin: 0.8em auto 0.8em -32px;
    }
    section#top{
        width: auto;
        margin: 20px 30px 60px 30px;
    }
    section#noticia-principal{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
    }
    div#mob-manchete{
        display: block;
        width: 100px;
        color: #CD150B;
    }
    div#container-titulo > h1{
        font-size: 32px;
        text-align: justify;
    }
    div#container-titulo{
        margin: 0px 20px;
        width: auto;
        height: 150px;
    }
    div#container-titulo > h3 {
        margin-top: 10px;
        text-align: justify;
    }
    .noticia-tragedia > h3{
        margin-left: 10px;
    }
    section#manchetes-tragedia > p{
        color: #CD150B;
        margin-top: 20px;
    }
    section#manchetes-tragedia{
        height: auto;
        width: 345px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        
    }
    div.noticia-tragedia{
        display: flex;
        flex-direction: row;
        color: #CD150B;
        font-size: 18px;
        text-align: justify; 
        
    }
    div.noticia-tragedia > img{
        width: 120px;
        height: auto;
    }
    section#manchete-simples > div.noticia-simples > h6, h3{
        color: #CD150B;
    }
    section#manchete-simples{
        margin: 20px;
    }
    .noticia-simples > h6 {
        margin-top: 20px;
    }
    section#manchetes-futebol-mobile{

    }
    .fut{
        background-color: blue;
    }
    section#manchetes-famosos{
        
    }
}